In [1]:
#dependencies
import pandas as pd

In [2]:
#create file paths
raw_school_data = "Resources/schools_complete.csv"
raw_student_data = "Resources/students_complete.csv"

In [3]:
#put raw data in dataframe
school_df = pd.read_csv(raw_school_data)
student_df = pd.read_csv(raw_student_data)

In [25]:
#show school dataframe
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
#show student dataframe 
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
merge_school_student = pd.merge(school_df, student_df, on='school_name')
merge_school_student.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [10]:
#rename columns
renamed_columns = merge_school_student.rename(columns={'school_name': 'School Name', 'type': 'School Type',
                                                       'size': 'School Size', 'budget': 'School Budget',
                                                       'student_name': 'Student Name', 'gender': 'Gender',
                                                       'grade': 'Grade', 'reading_score': 'Reading Score', 
                                                       'math_score':'Math Score'})
renamed_columns.head()

,School ID,School Name,School Type,School Size,School Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [21]:
#count schools
unique_schools = renamed_columns['School Name'].nunique()
unique_schools

15

In [26]:
#calculate students in district
district_student = school_df['size'].sum()
district_student

39170

In [ ]:
#calculate district budget
district_budget