In [56]:
#dependencies
import pandas as pd

In [57]:
#create file paths
raw_school_data = "Resources/schools_complete.csv"
raw_student_data = "Resources/students_complete.csv"

In [58]:
#put raw data in dataframe
school_df = pd.read_csv(raw_school_data)
student_df = pd.read_csv(raw_student_data)

In [59]:
#show school dataframe
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [60]:
#show student dataframe 
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [61]:
merge_school_student = pd.merge(school_df, student_df, on='school_name')
merge_school_student.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [62]:
#rename columns
renamed_columns = merge_school_student.rename(columns={'school_name': 'School Name', 'type': 'School Type',
                                                       'size': 'School Size', 'budget': 'School Budget',
                                                       'student_name': 'Student Name', 'gender': 'Gender',
                                                       'grade': 'Grade', 'reading_score': 'Reading Score', 
                                                       'math_score':'Math Score'})
renamed_columns.head()

,School ID,School Name,School Type,School Size,School Budget,Student ID,Student Name,Gender,Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [63]:
#count schools
unique_schools = renamed_columns['School Name'].nunique()
unique_schools

15

In [64]:
#calculate students in district
district_student = school_df['size'].sum()
district_student

39170

In [65]:
#calculate district budget
district_budget = school_df['budget'].sum()
district_budget

24649428

In [66]:
#calculate district avg math score
dist_avg_math = renamed_columns['Math Score'].mean()
dist_avg_math

78.98537145774827

In [67]:
#calculate district avg reading score
dist_avg_reading = renamed_columns['Reading Score'].mean()
dist_avg_reading

81.87784018381414

In [68]:
#calculate district percentage passing math
dist_pass_math = (renamed_columns[renamed_columns['Math Score'] >= 70].count()['Student Name'] * 100) / district_student
dist_pass_math

74.9808526933878

In [69]:
#calculate district percentage passing reading
dist_pass_reading = (renamed_columns[renamed_columns['Reading Score'] >= 70].count()['Student Name'] * 100) / district_student
dist_pass_reading

85.80546336482001

In [70]:
#calculate district overall passing
dist_pass_overall = (dist_pass_math + dist_pass_reading) / 2
dist_pass_overall

80.39315802910392

In [71]:
#district summary dataframe
district_data = [{'Total Schools': unique_schools, 'Total Students': district_student, 'Total Budget': district_budget, 
                     'Average Math Score': dist_avg_math, 'Average Reading Score': dist_avg_reading, 
                     '% Passing Math': dist_pass_math, '% Passing Reading': dist_pass_reading, 
                     '% Overall Passing': dist_pass_overall}]

district_summary = pd.DataFrame(district_data)
district_summary

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Total Budget,Total Schools,Total Students
0,80.393158,74.980853,85.805463,78.985371,81.87784,24649428,15,39170

In [72]:
#reorganize summary to make sense
reorganized_district_summary = district_summary[['Total Schools', 'Total Students', 'Total Budget', 
                                                 'Average Math Score', 'Average Reading Score', 
                                                 '% Passing Math', '% Passing Reading', '% Overall Passing']]

reorganized_district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [73]:
#format district summary table
reorganized_district_summary['Total Students'] = reorganized_district_summary['Total Students'].map('{:,}'.format)
reorganized_district_summary['Total Budget'] = reorganized_district_summary['Total Budget'].map('${:,}'.format)
reorganized_district_summary['Average Math Score'] = reorganized_district_summary['Average Math Score'].map('{:.2f}'.format)
reorganized_district_summary['Average Reading Score'] = reorganized_district_summary['Average Reading Score'].map('{:.2f}'.format)
reorganized_district_summary['% Passing Math'] = reorganized_district_summary['% Passing Math'].map('{:.2f}%'.format)
reorganized_district_summary['% Passing Reading'] = reorganized_district_summary['% Passing Reading'].map('{:.2f}%'.format)
reorganized_district_summary['% Overall Passing'] = reorganized_district_summary['% Overall Passing'].map('{:.2f}%'.format)

reorganized_district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,80.39%

In [74]:
#group by school name
grouped_school = renamed_columns.groupby(['School Name'])

avg_scores = grouped_school.mean()

avg_scores.head()

,School ID,School Size,School Budget,Student ID,Reading Score,Math Score
School Name,,,,,,
Bailey High School,7.0,4976.0,3124928.0,20358.5,81.033963,77.048432
Cabrera High School,6.0,1858.0,1081356.0,16941.5,83.975780,83.061895
Figueroa High School,1.0,2949.0,1884411.0,4391.0,81.158020,76.711767
Ford High School,13.0,2739.0,1763916.0,36165.0,80.746258,77.102592
Griffin High School,4.0,1468.0,917500.0,12995.5,83.816757,83.351499

In [75]:
#count students per school
sch_students = renamed_columns['School Name'].value_counts()

sch_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: School Name, dtype: int64

In [76]:
#each school budget
sch_budget = grouped_school['School Budget'].sum() / sch_students

sch_budget

Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [77]:
#calculate per student budget per school
sch_student_budget = sch_budget / sch_students

sch_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [78]:
#calculate school % passing math
sch_pass_math = (renamed_columns[renamed_columns['Math Score'] >= 70].groupby('School Name')['Math Score'].count()) * 100 / sch_students
sch_pass_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [79]:
#calculate school % passing reading
sch_pass_reading = (renamed_columns[renamed_columns['Reading Score'] >= 70].groupby('School Name')['Reading Score'].count()) * 100 / sch_students
sch_pass_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [80]:
#calculate school % overall passing
sch_pass_overall = (sch_pass_math + sch_pass_reading) / 2
sch_pass_overall

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [81]:
#capture school avg math & reading scores
math_reading_scores = avg_scores.loc[:,['Math Score', 'Reading Score']]
math_reading_scores

                       Math Score  Reading Score
School Name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

In [82]:
#rename math and reading column
raw_school_summary = math_reading_scores.rename(columns={'Math Score': 'Average Math Score', 
                                                         'Reading Score': 'Average Reading Score'})

raw_school_summary.head()

                      Average Math Score  Average Reading Score
School Name
Bailey High School             77.048432              81.033963
Cabrera High School            83.061895              83.975780
Figueroa High School           76.711767              81.158020
Ford High School               77.102592              80.746258
Griffin High School            83.351499              83.816757

In [83]:
#capture school type
raw_sch_type = school_df.loc[:,['school_name', 'type']]

sch_type.head()

                           type
School Name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter

In [84]:
#rename and set index to school name
renamed_raw_sch_type = raw_sch_type.rename(columns={'school_name': 'School Name'})

sch_type = renamed_raw_sch_type.set_index('School Name')

sch_type.head()

                           type
School Name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter

In [85]:
#create school summary dataframe
raw_school_summary['Total Students'] = sch_students
raw_school_summary['Total Budget'] = sch_budget
raw_school_summary['Per Student Budget'] = sch_student_budget
raw_school_summary['% Passing Math'] = sch_pass_math
raw_school_summary['% Passing Reading'] = sch_pass_reading
raw_school_summary['% Overall Passing'] = sch_pass_overall
raw_school_summary['School Type'] = sch_type

raw_school_summary.head()

,Average Math Score,Average Reading Score,Total Students,Total Budget,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing,School Type
School Name,,,,,,,,,
Bailey High School,77.048432,81.033963,4976,3124928.0,628.0,66.680064,81.933280,74.306672,District
Cabrera High School,83.061895,83.975780,1858,1081356.0,582.0,94.133477,97.039828,95.586652,Charter
Figueroa High School,76.711767,81.158020,2949,1884411.0,639.0,65.988471,80.739234,73.363852,District
Ford High School,77.102592,80.746258,2739,1763916.0,644.0,68.309602,79.299014,73.804308,District
Griffin High School,83.351499,83.816757,1468,917500.0,625.0,93.392371,97.138965,95.265668,Charter

In [86]:
#reorganize df to make sense
school_summary = raw_school_summary[['School Type', 'Total Students', 'Total Budget', 
                                     'Per Student Budget','Average Math Score', 'Average Reading Score', 
                                     '% Passing Math', '% Passing Reading', '% Overall Passing']]

school_summary.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [87]:
#format columns
school_summary['Total Students'] = school_summary['Total Students'].map('{:,}'.format)
school_summary['Total Budget'] = school_summary['Total Budget'].map('${:,.2f}'.format)
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map('${:,.2f}'.format)
school_summary['Average Math Score'] = school_summary['Average Math Score'].map('{:.2f}'.format)
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map('{:.2f}'.format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map('{:.2f}%'.format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map('{:.2f}%'.format)
school_summary['% Overall Passing'] = school_summary['% Overall Passing'].map('{:.2f}%'.format)

school_summary

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,94.97%

In [88]:
#top 5 performing schools based on overall passing rate
top_performers = school_summary.sort_values('% Overall Passing', ascending=False)

top_performers.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%

In [89]:
#bottom 5 performing schools based on overall passing
bottom_performers = school_summary.sort_values('% Overall Passing')

bottom_performers.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%

In [91]:
#get unique grade levels
unique_grade = student_df['grade'].unique()

unique_grade

array(['9th', '12th', '11th', '10th'], dtype=object)

In [94]:
unique_school = school_df['school_name'].unique()

unique_school

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [95]:
sch_grade_math = pd.DataFrame(index=unique_school, columns=unique_grade)
sch_grade_math

                       9th 12th 11th 10th
Huang High School      NaN  NaN  NaN  NaN
Figueroa High School   NaN  NaN  NaN  NaN
Shelton High School    NaN  NaN  NaN  NaN
Hernandez High School  NaN  NaN  NaN  NaN
Griffin High School    NaN  NaN  NaN  NaN
Wilson High School     NaN  NaN  NaN  NaN
Cabrera High School    NaN  NaN  NaN  NaN
Bailey High School     NaN  NaN  NaN  NaN
Holden High School     NaN  NaN  NaN  NaN
Pena High School       NaN  NaN  NaN  NaN
Wright High School     NaN  NaN  NaN  NaN
Rodriguez High School  NaN  NaN  NaN  NaN
Johnson High School    NaN  NaN  NaN  NaN
Ford High School       NaN  NaN  NaN  NaN
Thomas High School     NaN  NaN  NaN  NaN

In [98]:

sch_math_group = student_df.groupby(['school_name', 'grade'])

sch_math_group.mean().head()

                             Student ID  reading_score  math_score
school_name         grade
Bailey High School  10th   20365.058918      80.907183   76.996772
                    11th   20345.148681      80.945643   77.515588
                    12th   20386.724708      80.912451   76.492218
                    9th    20344.481481      81.303155   77.083676
Cabrera High School 10th   16909.487124      84.253219   83.154506

In [133]:
#create bins for groupby school spending
bins = [0, 585, 615, 645, 675]

group_names = ['<$585', '$585-615', '$615-645', '$645-675']

In [136]:
#hold raw school summary in new var
raw_student_spend = raw_school_summary

raw_student_spend["Per Student $ Summary"] = pd.cut(raw_student_spend["Per Student Budget"], bins, labels=group_names)
raw_student_spend.head()

,Average Math Score,Average Reading Score,Total Students,Total Budget,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing,School Type,Per Student $ Summary
School Name,,,,,,,,,,
Bailey High School,77.048432,81.033963,4976,3124928.0,628.0,66.680064,81.933280,74.306672,District,$615-645
Cabrera High School,83.061895,83.975780,1858,1081356.0,582.0,94.133477,97.039828,95.586652,Charter,<$585
Figueroa High School,76.711767,81.158020,2949,1884411.0,639.0,65.988471,80.739234,73.363852,District,$615-645
Ford High School,77.102592,80.746258,2739,1763916.0,644.0,68.309602,79.299014,73.804308,District,$615-645
Griffin High School,83.351499,83.816757,1468,917500.0,625.0,93.392371,97.138965,95.265668,Charter,$615-645

In [139]:
#groupby per student bins
raw_spend_summary = raw_student_spend.groupby('Per Student $ Summary')
raw_spend_summary.mean()

,Average Math Score,Average Reading Score,Total Students,Total Budget,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
Per Student $ Summary,,,,,,,,
<$585,83.455399,83.933814,1592.000000,9.246042e+05,581.000000,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,1361.500000,8.212290e+05,604.500000,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,2961.000000,1.880208e+06,635.166667,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,4104.333333,2.675768e+06,652.333333,66.164813,81.133951,73.649382

In [140]:
#keep the needed rows
sch_spend_summary = raw_spend_summary[['Average Math Score', 'Average Reading Score', 
                                       '% Passing Math', '% Passing Reading', '% Overall Passing']].mean()

sch_spend_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student $ Summary,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

In [141]:
#format dataframe
sch_spend_summary['Average Math Score'] = sch_spend_summary['Average Math Score'].map('{:.2f}'.format)
sch_spend_summary['Average Reading Score'] = sch_spend_summary['Average Reading Score'].map('{:.2f}'.format)
sch_spend_summary['% Passing Math'] = sch_spend_summary['% Passing Math'].map('{:.2f}%'.format)
sch_spend_summary['% Passing Reading'] = sch_spend_summary['% Passing Reading'].map('{:.2f}%'.format)
sch_spend_summary['% Overall Passing'] = sch_spend_summary['% Overall Passing'].map('{:.2f}%'.format)

sch_spend_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student $ Summary,,,,,
<$585,83.46,83.93,93.46%,96.61%,95.04%
$585-615,83.60,83.89,94.23%,95.90%,95.07%
$615-645,79.08,81.89,75.67%,86.11%,80.89%
$645-675,77.00,81.03,66.16%,81.13%,73.65%

In [100]:
#group merged data by type
sch_type = renamed_columns.groupby(['School Type'])
sch_type.mean()

,School ID,School Size,School Budget,Student ID,Reading Score,Math Score
School Type,,,,,,
Charter,6.964163,1717.352468,1.024543e+06,19438.475398,83.902821,83.406183
District,6.984505,4063.261195,2.611175e+06,19650.507711,80.962485,76.987026

In [103]:
#grab avg math and reading score columns
sch_type_summary = sch_type['Math Score', 'Reading Score'].mean()
sch_type_summary

             Math Score  Reading Score
School Type
Charter       83.406183      83.902821
District      76.987026      80.962485

In [123]:
#count of students by type
type_student = renamed_columns['School Type'].value_counts()
type_student

District    26976
Charter     12194
Name: School Type, dtype: int64

In [127]:
#percent pass math by type
type_pass_math = (renamed_columns[renamed_columns['Math Score'] >= 70].groupby('School Type')['Math Score'].count()) * 100 / type_student
type_pass_math

Charter     93.701821
District    66.518387
dtype: float64

In [128]:
#percent pass reading by type
type_pass_reading = (renamed_columns[renamed_columns['Reading Score'] >= 70].groupby('School Type')['Reading Score'].count()) * 100 / type_student
type_pass_reading

Charter     96.645891
District    80.905249
dtype: float64

In [129]:
#percent pass overall by type
type_pass_overall = (type_pass_math + type_pass_reading) / 2
type_pass_overall

Charter     95.173856
District    73.711818
dtype: float64

In [130]:
#type dataframe
sch_type_summary['% Passing Math'] = type_pass_math
sch_type_summary['% Passing Reading'] = type_pass_reading
sch_type_summary['% Overall Passing'] = type_pass_overall

sch_type_summary

,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818

In [131]:
#rename columns
type_summary = sch_type_summary.rename(columns={'Math Score': 'Average Math Score',
                                                'Reading Score': 'Average Reading Score'})

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818

In [132]:
#format dataframe
type_summary['Average Math Score'] = type_summary['Average Math Score'].map('{:.2f}'.format)
type_summary['Average Reading Score'] = type_summary['Average Reading Score'].map('{:.2f}'.format)
type_summary['% Passing Math'] = type_summary['% Passing Math'].map('{:.2f}%'.format)
type_summary['% Passing Reading'] = type_summary['% Passing Reading'].map('{:.2f}%'.format)
type_summary['% Overall Passing'] = type_summary['% Overall Passing'].map('{:.2f}%'.format)

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.41,83.90,93.70%,96.65%,95.17%
District,76.99,80.96,66.52%,80.91%,73.71%